
:root {
    --spotify-green: #1DB954;
    --footer-height: 40px;
}
html, {
    cursor: default;
}

body {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-height: 100vh;
    height: 100vh;
    overflow-y: hidden;
}


.home {
    background-color: red;
}   

.left {
    background-color: black;
    position: relative;
    width: 300px;
    left: 0;
    bottom: 0;
    top: 0;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.playlist-arrows  {
    display: flex;
    align-items: center;
}

.arrow-container {
    margin-right: 15px ;
}

.playlist-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist-header {
    padding: 20px;
}

