* {
  margin: 0;
  padding: 0;
}

:root {
  --purple: #c7a7ff;
  --darkerpurple: #9119c9;
  --hoveryellow: #d8d8d8c7;
}

header {
  background: var(--darkerpurple);
  padding: 1rem;
}

header h1 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
}

.form-button {
  background-color: rgb(124, 168, 124);
  border-style:hidden;
  border-radius: 0.5rem;
  color: white;
}

.form-button:hover {
  background-color: #85b6bb;
}

.home {
  color: rgb(8, 121, 14);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-button {
  color: aliceblue;
  background-color: rgb(199, 52, 52);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.25rem;
}

.home-button:hover {
  background-color:#d85da9;
}

.home-link {
  text-decoration: none;
}

.nav-link {
  color: white;
  font-size: 1.35rem;
}

.nav-link:hover,
.nav > .nav-item > .active {
  color: var(--hoveryellow);
}