* {
  margin: 0;
  padding: 0;
}

:root {
  --purple: #9a74db;
  --goldenyellow: #f9b713;
  --hoveryellow: #ffefc6;
}

form a {
  text-decoration: none;
  color: var(--purple);
}

form a:hover {
  color: #7c46d9;
}

header {
  background: var(--goldenyellow);
  padding: 1rem;
}

header h1 {
  color: white;
  font-size: 3rem;
}

.form-button {
  background-color: var(--goldenyellow);
  border: none;
  border-radius: 0.5rem;
  color: white;
}

.form-button:hover {
  background-color: #dda516;
}

.home {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-button {
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  color: var(--goldenyellow);
  font-size: 1.25rem;
}

.home-button:hover {
  background-color: var(--hoveryellow);
}

.home-link {
  text-decoration: none;
}

.nav-link {
  color: white;
  font-size: 1.35rem;
}

.nav-link:hover,
.nav > .nav-item > .active {
  color: var(--hoveryellow);
}